Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

move to custom KeybindEvent subclass
  apps/desktop/src-tauri/src/menu.rs
  apps/desktop/src/index.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/globals.d.ts
  packages/interface/src/index.ts
  packages/interface/src/util/keybind.ts
Due: type-check, lint, rust-fmt

add silly react import to app layout bc it needs it
  packages/interface/src/AppLayout.tsx
Due: type-check, lint

properly shutdown the core when using server
  Cargo.lock
  apps/desktop/src-tauri/src/main.rs
  apps/server/src/main.rs
  apps/server/src/utils.rs
  core/src/lib.rs
  core/src/util/db.rs
Due: rust-fmt

catch Rust panics on mobile to prevent UB
  Cargo.lock
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  core/src/lib.rs
Due: rust-fmt

use clearer name for DOM keybind handler
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

reposition top bar keybind check comment
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

update search shortcut to slash
  apps/desktop/src-tauri/src/menu.rs
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/primitive/Shortcut.tsx
  packages/interface/src/components/primitive/types.ts
Due: type-check, lint, rust-fmt

hide search key hint when value present
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

Update packages
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

update search bar shortcut to Cmd/Ctrl+F
  apps/desktop/src-tauri/src/menu.rs
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint, rust-fmt

use defaultprops type arg in inputcontainer
  packages/interface/src/components/primitive/InputContainer.tsx
Due: type-check, lint

Update README.md
  README.md
Due: markdown-link-check

Move create lib dialog to container
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
Due: type-check, lint

Create library on onboarding
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
Due: type-check, lint

Update README.md (#384)
  README.md
Due: markdown-link-check

fix readme
  README.md
Due: markdown-link-check

Updated roadmap (#250)
  apps/landing/src/pages/roadmap.page.tsx
Due: type-check, lint

added "slots" to markdown parser
  apps/landing/package.json
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/pages/docs/api.tsx
  apps/landing/src/style.scss
  apps/landing/src/utils/markdownParse.ts
  docs/architecture/objects.md
  pnpm-lock.yaml
Due: type-check, lint, markdown-link-check

use 0.6.2 branch with migrations
  Cargo.lock
  Cargo.toml
  packages/.spacedrive
Due: none

use pcr migrations branch
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/locations.rs
  core/src/encode/thumb.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/util/db.rs
Due: rust-fmt

more docs progress
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/pages/docs/docs.ts
  apps/landing/src/style.scss
  apps/landing/src/utils/markdownParse.ts
  docs/company/about/credits.md
  docs/company/about/longevity.md
  docs/company/about/philosophy.md
  docs/company/branding/logo.md
  docs/company/branding/typeography.md
  docs/company/legal/privacy.md
  docs/company/legal/terms.md
  docs/developers/architecture/spaces.md
  docs/developers/clients/cli.md
  docs/developers/clients/javascript.md
  docs/developers/clients/rust.md
  docs/developers/technology/open-source.md
  docs/developers/technology/tech-stack.md
  docs/product/introduction/terminology.md
  docs/product/legal/terms.md
  docs/product/resources/faq.md
Due: type-check, lint, markdown-link-check

fixes
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/pages/faq.page.tsx
  apps/landing/src/pages/team.page.tsx
Due: type-check, lint

added empty docs
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/docs.ts
  docs/developers/architecture/libraries.md
  docs/developers/architecture/objects.md
  docs/product/getting-started/features.md
  docs/product/getting-started/introduction.md
  docs/product/getting-started/setup.md
  docs/product/getting-started/terminology.md
  docs/product/introduction/getting-started.md
Due: type-check, lint, markdown-link-check

killer opening paragraph
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/docs/[...all].page.tsx
  docs/product/getting-started/introduction.md
Due: type-check, lint, markdown-link-check

fix roadmap
  apps/landing/src/pages/roadmap.page.tsx
Due: type-check, lint

use latest prisma stuff
  Cargo.lock
  Cargo.toml
  core/src/location/indexer/indexer_job.rs
  core/src/util/db.rs
Due: rust-fmt
