Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

Fix Xcode shellScript too
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
Due: none

add basic comments
  crates/crypto/src/error.rs
  crates/crypto/src/header/container.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/objects/stream.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

Magic bytes 🪄
  .cspell/project_words.txt
  core/src/lib.rs
  core/src/object/kind.rs
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/primitive/Shortcut.tsx
Due: type-check, lint, rust-fmt

move arg structs into the builder closure
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
Due: rust-fmt

upgrade workspace dependencies
  Cargo.lock
  apps/desktop/package.json
  apps/landing/package.json
  apps/web/package.json
  crates/sync/example/package.json
  package.json
  packages/client/package.json
  packages/config/package.json
  packages/interface/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

upgrade workspace dependencies
  Cargo.lock
  apps/desktop/package.json
  apps/web/package.json
  crates/sync/example/package.json
  package.json
  packages/client/package.json
  packages/config/package.json
  packages/interface/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

remove `secrecy` dependency and import `protected`
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/stream.rs
  crates/crypto/src/protected.rs
Due: rust-fmt

add `to_array` helper function
  crates/crypto/src/error.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

`sd_crypto` -> `sd-crypto`
  Cargo.lock
  crates/crypto/Cargo.toml
Due: none

remove manual drops
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

add clippy allows
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

add `new()` for `Keyslot` and `FileHeader`
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
Due: rust-fmt

remove license
  crates/crypto/Cargo.toml
Due: none

Fix mobile + upgrade Expo + even newer rspc
  Cargo.lock
  Cargo.toml
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  apps/mobile/src/hooks/rspc.ts
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/Overview.tsx
  core/Cargo.toml
  core/src/api/utils/library.rs
Due: type-check, lint, rust-fmt

zeroize read buffer on error
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

magic bytes are now `ballapp`
  crates/crypto/src/header/file.rs
Due: rust-fmt

tests for magic bytes
  .gitmodules
Due: none

tests for magic bytes
  .cspell/project_words.txt
  core/src/object/kind.rs
Due: rust-fmt

remove stats.html
  apps/landing/stats.html
Due: none

Expo committed cringe
  apps/desktop/src-tauri/.env.example
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/java/com/spacedrive/app/SDCore.java
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/rust/src/android.rs
  apps/mobile/src/navigation/TabNavigator.tsx
  package.json
Due: type-check, lint, rust-fmt

fix major bugs in p2p PR
  .gitignore
  Cargo.lock
  apps/landing/stats.html
  core/src/lib.rs
  crates/p2p/Cargo.toml
  crates/p2p/examples/basic.rs
  crates/p2p/src/discovery/global_discovery.rs
  crates/p2p/src/discovery/mdns.rs
  crates/p2p/src/lib.rs
  crates/p2p/src/network_manager/nm.rs
  crates/p2p/src/network_manager/nm_config.rs
  crates/p2p/src/network_manager/nm_internal.rs
  crates/p2p/src/network_manager/nm_server.rs
  crates/p2p/src/p2p_manager.rs
  crates/p2p/src/peer/peer.rs
  crates/p2p/src/peer/peer_candidate.rs
  crates/p2p/src/peer/peer_metadata.rs
  crates/p2p/tunnel/Cargo.toml
  crates/p2p/tunnel/fly.toml
  crates/p2p/tunnel/src/main.rs
  crates/p2p/tunnel/utils/Cargo.toml
Due: rust-fmt

fix major bugs in p2p PR
  .gitignore
  Cargo.lock
  core/src/lib.rs
  crates/p2p/Cargo.toml
  crates/p2p/examples/basic.rs
  crates/p2p/src/discovery/global_discovery.rs
  crates/p2p/src/discovery/mdns.rs
  crates/p2p/src/lib.rs
  crates/p2p/src/network_manager/nm.rs
  crates/p2p/src/network_manager/nm_config.rs
  crates/p2p/src/network_manager/nm_internal.rs
  crates/p2p/src/network_manager/nm_server.rs
  crates/p2p/src/p2p_manager.rs
  crates/p2p/src/peer/peer.rs
  crates/p2p/src/peer/peer_candidate.rs
  crates/p2p/src/peer/peer_metadata.rs
  crates/p2p/tunnel/Cargo.toml
  crates/p2p/tunnel/fly.toml
  crates/p2p/tunnel/src/main.rs
  crates/p2p/tunnel/utils/Cargo.toml
Due: rust-fmt

toast notification hook
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/hooks/useToasts.ts
  pnpm-lock.yaml
Due: type-check, lint

cargo fmt + fix clippy lints
  crates/p2p/src/peer/peer.rs
  crates/p2p/tunnel/src/bin/generate-env.rs
Due: rust-fmt

fixed the overflow
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

WIP: windows setup fixes
  .github/scripts/setup-system.ps1
  Cargo.lock
  crates/ffmpeg/Cargo.toml
Due: none

sd extensions crate
  .cspell/project_words.txt
  Cargo.lock
  core/Cargo.toml
  core/src/object/mod.rs
  core/src/object/preview/thumb.rs
  crates/file-ext/Cargo.toml
  crates/file-ext/src/extensions.rs
  crates/file-ext/src/kind.rs
  crates/file-ext/src/lib.rs
  crates/file-ext/src/magic.rs
Due: rust-fmt
