Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

Use turborepo for desktop & web apps (#399)
  apps/landing/package.json
  docs/package.json
  package.json
  packages/client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

format web
  apps/web/src/index.html
  apps/web/src/index.tsx
  apps/web/tsconfig.json
Due: type-check, lint

update lockfile
  Cargo.lock
Due: none

bump rust cache key
  .github/actions/cache-rust-deps/action.yaml
Due: none

update pcr
  Cargo.toml
Due: none

remove baselining
  core/src/util/db.rs
Due: rust-fmt

Object Kind (#397)
  .cspell/project_words.txt
  apps/desktop/src/index.tsx
  core/src/api/jobs.rs
  core/src/lib.rs
  core/src/object/kind.rs
  core/src/object/mod.rs
  core/src/object/preview/thumb.rs
  packages/assets/svgs/folder.svg
  packages/assets/svgs/video.svg
  packages/assets/svgs/zip.svg
  packages/client/src/stores/explorerStore.ts
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/info/AboutSpacedrive.tsx
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint, rust-fmt

update pcr to 0.6.2 branch
  Cargo.toml
Due: none

please formatter
  Cargo.lock
  core/src/api/jobs.rs
Due: rust-fmt

Add media-library + prettier
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive/Images.xcassets/Contents.json
  apps/mobile/ios/Spacedrive/Images.xcassets/SplashScreen.imageset/Contents.json
  apps/mobile/ios/Spacedrive/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/ios/Spacedrive/SplashScreen.storyboard
  apps/mobile/ios/Spacedrive/Supporting/Expo.plist
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: type-check, lint

fix build
  apps/mobile/rust/src/ios.rs
Due: rust-fmt

add header structs
  crates/crypto/src/header/container.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

add basic serialization functionality
  crates/crypto/src/header/file.rs
Due: rust-fmt

separate fetch & check
  .github/workflows/ci.yml
Due: none

advance serialization
  crates/crypto/src/header/file.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

finish serialization
  crates/crypto/src/header/file.rs
Due: rust-fmt

clean up serialization and use `impl`
  crates/crypto/src/header/file.rs
Due: rust-fmt

finalise deserialization
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

add stream helper functions and remove old code
  crates/crypto/src/file/decrypt.rs
  crates/crypto/src/file/encrypt.rs
  crates/crypto/src/file/mod.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

add AAD creation and retrieval
  crates/crypto/src/header/file.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

add important comment
  crates/crypto/src/header/file.rs
Due: rust-fmt

add `ChaCha20Rng` as a CSPRNG
  crates/crypto/Cargo.toml
  crates/crypto/src/primitives.rs
Due: rust-fmt

cleanup and crate-wide clippy lints
  Cargo.lock
  crates/crypto/src/header/file.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

apply nursery lints
  crates/crypto/src/header/file.rs
  crates/crypto/src/primitives.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

add in-memory encryption objects
  crates/crypto/src/error.rs
  crates/crypto/src/utils/memory.rs
  crates/crypto/src/utils/mod.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

rename `utils` to `objects`
  crates/crypto/src/lib.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/mod.rs
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

move (de)serialization rules to separate file
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/serialization.rs
Due: rust-fmt

add header-write helper function
  crates/crypto/src/header/file.rs
Due: rust-fmt

add password hash helper function
  crates/crypto/src/primitives.rs
Due: rust-fmt

add `decrypt_master_key` function
  crates/crypto/src/header/file.rs
Due: rust-fmt

cleanup, formatting, linting
  crates/crypto/src/error.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

move keyslots to separate file, and rename them
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/serialization.rs
Due: rust-fmt
