Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

removed stray dependency causing build issue
  Cargo.lock
  core/Cargo.toml
  pnpm-lock.yaml
Due: none

upgrade tauri (fix desktop dev)
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  pnpm-lock.yaml
Due: none

Create Location & Remove placeholder data
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/drawer/DrawerTags.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: type-check, lint

fix incorrect faq URLs
  apps/landing/src/components/Footer.tsx
  apps/landing/src/pages/team.page.tsx
Due: type-check, lint

Create default modal component
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/containers/modals/FileModal.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
Due: type-check, lint

Fix readme licence badge
  README.md
Due: markdown-link-check

bundle splitting and performance optimisations
  .gitignore
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/rust/src/lib.rs
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/web/package.json
  apps/web/vite.config.ts
  packages/interface/package.json
  packages/interface/src/App.tsx
  packages/interface/src/AppLayout.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/NotFound.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/screens/Content.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/TagExplorer.tsx
  packages/interface/src/screens/settings/Settings.tsx
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

Check if the location already exists
  apps/mobile/src/containers/modals/ImportModal.tsx
  core/src/location/error.rs
  core/src/location/mod.rs
Due: type-check, lint, rust-fmt

add crypto crate with some functionality
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/file/encrypt.rs
  crates/crypto/src/file/mod.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/mod.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/primitives.rs
  crates/crypto/src/utils/mod.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

formatting
  crates/crypto/src/file/mod.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/primitives.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

add `argon2id` parameter levels
  crates/crypto/src/keys/hashing.rs
Due: rust-fmt

add descriptive comments
  crates/crypto/Cargo.toml
  crates/crypto/src/primitives.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

add stream decryption objects
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

move prisma schema and migrations to /core
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/migrations/20220909073230_init/migration.sql
  core/prisma/migrations/migration_lock.toml
  core/prisma/schema.prisma
  crates/prisma-cli/Cargo.toml
  crates/prisma-cli/src/main.rs
  crates/prisma/Cargo.toml
Due: rust-fmt

fix prisma updates
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
Due: rust-fmt

move prisma schema and migrations to /core (#392)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/migrations/20220909073230_init/migration.sql
  core/prisma/migrations/migration_lock.toml
  core/prisma/schema.prisma
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  crates/prisma-cli/Cargo.toml
  crates/prisma-cli/src/main.rs
  crates/prisma/Cargo.toml
Due: rust-fmt

add `StreamEncryptor` struct
  crates/crypto/src/file/encrypt.rs
Due: rust-fmt

db:gen in core
  package.json
Due: none

add `StreamDecryptor`
  crates/crypto/src/file/decrypt.rs
  crates/crypto/src/file/mod.rs
Due: rust-fmt

build sd-core
  .github/workflows/ci.yml
Due: none

general cleanup
  crates/crypto/src/file/decrypt.rs
  crates/crypto/src/file/encrypt.rs
  crates/crypto/src/file/mod.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

add sync/example/dist to source
  crates/sync/example/dist/.gitignore
Due: none

fix sync example in monorepop
  crates/sync/example/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

appease clippy
  crates/sync/example/src-tauri/src/main.rs
  crates/sync/src/db.rs
Due: rust-fmt

update lockfile
  pnpm-lock.yaml
Due: none

update commit hooks
  lefthook.yml
Due: none

fix typescript
  crates/sync/example/package.json
  pnpm-lock.yaml
Due: none

fix typescript build
  package.json
  packages/interface/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

please rustfmt
  crates/sync/example/src-tauri/build.rs
  crates/sync/src/crdt.rs
Due: rust-fmt

run rustfmt in ci
  .github/workflows/ci.yml
Due: none
