Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

rename getAll to list
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/api/volumes.rs
  core/src/job/worker.rs
  core/src/library/library_manager.rs
  core/src/location/mod.rs
  packages/client/src/stores/useLibraryStore.ts
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: type-check, lint, rust-fmt

fix readme message
  README.md
Due: markdown-link-check

utilise include instead of with for type safety
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/mobile/src/types/bindings.ts
  core/Cargo.toml
  core/index.ts
  core/prisma/Cargo.toml
  core/prisma/schema.prisma
  core/src/api/jobs.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  packages/client/src/stores/useLibraryStore.ts
  packages/interface/src/components/explorer/utils.ts
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/ui/src/Dropdown.tsx
Due: type-check, lint, rust-fmt

only show extension period if file has extension
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
Due: type-check, lint

fix indexer lag (reimplement debounced progress event for jobs)
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/file/cas/identifier.rs
  core/src/job/worker.rs
  core/src/location/indexer/indexer_job.rs
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/layout/MenuOverlay.tsx
  packages/interface/src/screens/Content.tsx
  packages/ui/src/ContextMenu.stories.tsx
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint, rust-fmt

change from fragment to string interpolation
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
Due: type-check, lint

cleanup identifier job
  core/src/file/cas/identifier.rs
Due: rust-fmt

Only show a period at the end of a filename if it has an extension (#380)
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/Inspector.tsx
Due: type-check, lint

(fix) identifier job: better error handling
  core/src/file/cas/identifier.rs
  core/src/job/mod.rs
Due: rust-fmt

Fix everything after rspc update
  apps/mobile/src/App.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/file/FileIcon.tsx
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/stores/libraryStore.ts
  apps/mobile/src/types/declarations.d.ts
  apps/mobile/src/types/valtio.d.ts
Due: type-check, lint

Update rspc to 0.0.6
  apps/desktop/package.json
  apps/desktop/src/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/hooks/rspc.ts
  apps/web/package.json
  apps/web/src/App.tsx
  packages/client/package.json
  packages/client/src/rspc.ts
  pnpm-lock.yaml
Due: type-check, lint

Rust useless conversion
  core/src/file/cas/identifier.rs
Due: rust-fmt

hotfix for identifier orphan query
  core/src/file/cas/identifier.rs
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/ContextMenu/index.tsx
  packages/ui/src/index.ts
Due: type-check, lint, rust-fmt

Implementing metadata for jobs
  core/prisma/migrations/20220908015327_add_job_metadata/migration.sql
  core/prisma/schema.prisma
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/job/job_manager.rs
  core/src/job/mod.rs
  core/src/location/indexer/indexer_job.rs
Due: rust-fmt

Missing job error from serde_json::Error
  core/src/job/mod.rs
  core/src/location/indexer/indexer_job.rs
Due: rust-fmt

A wrong premise about report on a running job
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/job/mod.rs
  core/src/job/worker.rs
  core/src/location/indexer/indexer_job.rs
Due: rust-fmt

job manager wip
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/job/job_manager.rs
  docs/architecture/nodes.md
  docs/architecture/preview-media.md
  packages/interface/package.json
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/jobs/RunningJobsWidget.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: type-check, lint, markdown-link-check, rust-fmt

job manager wip
  apps/landing/src/pages/careers.page.tsx
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/job/job_manager.rs
  docs/architecture/nodes.md
  docs/architecture/preview-media.md
  packages/interface/package.json
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/jobs/RunningJobsWidget.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/OverlayPanel.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: type-check, lint, markdown-link-check, rust-fmt

roadmap improvements
  apps/landing/src/pages/roadmap.page.tsx
Due: type-check, lint

roadmap changes
  apps/landing/src/pages/roadmap.page.tsx
Due: type-check, lint

use prisma migration engine for migrations
  Cargo.lock
  core/Cargo.toml
  core/src/library/library_manager.rs
  core/src/util/db.rs
Due: rust-fmt

squash migrations + remove excessive logging
  core/prisma/migrations/20220618132721_notes/migration.sql
  core/prisma/migrations/20220624132352_location_node_relation/migration.sql
  core/prisma/migrations/20220625180107_remove_library/migration.sql
  core/prisma/migrations/20220715031021_added_spaces/migration.sql
  core/prisma/migrations/20220716023638_tags_color/migration.sql
  core/prisma/migrations/20220722181530_alter_uuids_to_bytes/migration.sql
  core/prisma/migrations/20220812181028_indexer_rules/migration.sql
  core/prisma/migrations/20220816234416_file_path_compound_id/migration.sql
  core/prisma/migrations/20220831203737_location_compound_unique_key_node_id_local_path/migration.sql
  core/prisma/migrations/20220902014900_add_is_archived/migration.sql
  core/prisma/migrations/20220908074148_init/migration.sql
  core/prisma/migrations/migration_table/migration.sql
  core/src/util/db.rs
Due: rust-fmt

Fix File modal and Stats
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/App.tsx
  apps/mobile/src/containers/OverviewStats.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/stores/modalStore.ts
Due: type-check, lint

Add form tag to enable submission when clicking enter
  packages/interface/src/components/layout/Dialog.tsx
Due: type-check, lint

invalidate library queries when adding/removing
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
Due: type-check, lint

Changing job metadata to serde_json::Value
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/job/job_manager.rs
  core/src/job/mod.rs
  core/src/location/indexer/indexer_job.rs
Due: rust-fmt

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
