Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

using useQueryHook to invalidate queries
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
Due: type-check, lint

job manager tweaks
  core/src/job/job_manager.rs
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/ui/src/OverlayPanel.tsx
Due: type-check, lint, rust-fmt

Better db migrations (#381)
  Cargo.lock
  core/Cargo.toml
  core/prisma/migrations/20220618132721_notes/migration.sql
  core/prisma/migrations/20220624132352_location_node_relation/migration.sql
  core/prisma/migrations/20220625180107_remove_library/migration.sql
  core/prisma/migrations/20220715031021_added_spaces/migration.sql
  core/prisma/migrations/20220716023638_tags_color/migration.sql
  core/prisma/migrations/20220722181530_alter_uuids_to_bytes/migration.sql
  core/prisma/migrations/20220812181028_indexer_rules/migration.sql
  core/prisma/migrations/20220816234416_file_path_compound_id/migration.sql
  core/prisma/migrations/20220831203737_location_compound_unique_key_node_id_local_path/migration.sql
  core/prisma/migrations/20220902014900_add_is_archived/migration.sql
  core/prisma/migrations/20220908074148_init/migration.sql
  core/prisma/migrations/migration_table/migration.sql
  core/src/library/library_manager.rs
  core/src/util/db.rs
Due: rust-fmt

remove readme copier workflow
  .github/workflows/diagram.yml.disabled
  .github/workflows/org-readme.yml
Due: none

assorted minor changes
  core/src/lib.rs
  packages/client/src/rspc.ts
  packages/interface/src/screens/Overview.tsx
Due: type-check, lint, rust-fmt

docs init
  README.md
  apps/landing/src/App.tsx
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/docs/api.tsx
  apps/landing/src/pages/docs/architecture/distributed-data-sync.tsx
  apps/landing/src/pages/docs/doc.page.route.ts
  apps/landing/src/pages/docs/doc.page.server.ts
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/index.page.server.ts
  apps/landing/src/pages/docs/index.page.tsx
  apps/landing/src/pages/roadmap.page.tsx
  docs/architecture/objects.md
  docs/product/roadmap.md
Due: type-check, lint, markdown-link-check

progress on docs
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/pages/docs/api.tsx
  apps/landing/src/pages/docs/doc.page.server.ts
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/index.page.server.ts
  apps/landing/src/pages/docs/index.page.tsx
  apps/landing/src/utils/markdownParse.ts
  core/src/api/nodes.rs
  docs/architecture/libraries.md
  docs/architecture/objects.md
  docs/changelog/0.1.0.md
  docs/product/credits.md
  docs/welcome.md
Due: type-check, lint, markdown-link-check, rust-fmt

support metadata (name & ordering)
  apps/landing/package.json
  apps/landing/src/pages/docs/api.tsx
  apps/landing/src/utils/markdownParse.ts
  docs/architecture/objects.md
  docs/architecture/preview-media.md
  pnpm-lock.yaml
Due: type-check, lint, markdown-link-check

fix prod build
  apps/landing/src/pages/changelog.page.tsx
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/index.page.server.ts
  apps/landing/src/utils/markdownParse.ts
Due: type-check, lint

fix lock
  pnpm-lock.yaml
Due: none

fix perender
  apps/landing/src/pages/docs/index.page.server.ts
Due: type-check, lint

docs progress
  apps/landing/package.json
  apps/landing/src/App.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/docs/api.tsx
  apps/landing/src/utils/markdownParse.ts
  apps/landing/src/utils/types.d.ts
  docs/architecture/database.md
  docs/architecture/libraries.md
  docs/architecture/nodes.md
  docs/architecture/objects.md
  docs/developers/js-client.md
  docs/developers/open-source.md
  docs/product/branding.md
  docs/product/faq.md
  docs/product/marketing.md
  docs/product/privacy.md
  docs/product/security.md
  docs/product/terms.md
  docs/welcome.md
  pnpm-lock.yaml
Due: type-check, lint, markdown-link-check

Add disabled and loading state for dialog
  apps/mobile/src/components/animation/lottie.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/primitive/Button.tsx
  packages/assets/lottie/loading-pulse.json
Due: type-check, lint

Close library drowdown with drawer
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
Due: type-check, lint

onboarding UI flow
  apps/desktop/src/index.tsx
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/prisma/migrations/20220909073230_init/migration.sql
  core/src/library/library_manager.rs
  core/src/util/db.rs
  packages/client/src/hooks/useCurrentLibrary.ts
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/interface/src/App.tsx
  packages/interface/src/AppLayout.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/layout/Dialog.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/onboarding/Onboarding.tsx
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

fix clippy warning
  core/src/util/db.rs
Due: rust-fmt

send report button working on error boundary
  apps/desktop/src/index.tsx
  apps/web/src/App.tsx
  packages/client/src/context/Platform.tsx
  packages/interface/src/ErrorFallback.tsx
  packages/interface/src/hooks/useOperatingSystem.ts
Due: type-check, lint

ignore server library data
  apps/server/.gitignore
Due: none

add useAppProps brevity
  packages/client/src/context/AppPropsContext.tsx
  packages/interface/src/AppLayout.tsx
Due: type-check, lint

use native/Tauri keybind to open settings
  apps/desktop/src-tauri/src/menu.rs
  apps/desktop/src/index.tsx
  packages/interface/src/AppRouter.tsx
Due: type-check, lint, rust-fmt

update cargo crates
  Cargo.lock
Due: none

add typings for keybind event
  packages/interface/src/globals.d.ts
Due: type-check, lint

reconfigure search bar keybind - also prevents interference with other text boxes on Esc
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
