Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

Fix Reanimated bug & Finalize Create Lib
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/modals/FileModal.tsx
Due: type-check, lint

replace ListView with VirtualizedList
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileList.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/layout/Sidebar.tsx
Due: type-check, lint

fix window resize with virtualizer
  .vscode/settings.json
  packages/interface/src/components/explorer/VirtualizedList.tsx
Due: type-check, lint

add tanstack virtual
  apps/desktop/src/index.html
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/package.json
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileList.tsx
  packages/interface/src/components/explorer/FileRow.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  pnpm-lock.yaml
Due: type-check, lint

Change relative path to ~
  apps/mobile/babel.config.js
  apps/mobile/src/components/animation/layout.tsx
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  apps/mobile/src/components/browse/BrowseTagItem.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/components/primitive/Divider.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/OnboardingNavigator.tsx
  apps/mobile/src/navigation/SharedScreens.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/NotFound.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/modals/settings/Settings.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/src/stores/useLibraryStore.ts
  apps/mobile/tsconfig.json
Due: type-check, lint

Upgraded rspc with libraries + upgrade PCR 0.6.0
  Cargo.lock
  README.md
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/mod.rs
  core/src/api/tags.rs
  core/src/api/utils/library.rs
  core/src/api/utils/mod.rs
  core/src/file/cas/identifier.rs
  core/src/job/worker.rs
  core/src/sys/locations.rs
  pnpm-lock.yaml
Due: markdown-link-check, rust-fmt

update jamie's changes
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/mod.rs
  core/src/api/tags.rs
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/location/mod.rs
Due: rust-fmt

valtio
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/stores/explorerStore.ts
  packages/client/src/stores/index.ts
  packages/client/src/stores/useExplorerStore.ts
  packages/client/src/stores/useLibraryStore.ts
  packages/interface/package.json
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileRow.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  pnpm-lock.yaml
Due: type-check, lint

replaced interface store with Valtio
  apps/mobile/src/types/bindings.ts
  core/index.ts
  packages/client/package.json
  packages/client/src/rspc.ts
  packages/client/src/stores/explorerStore.ts
  packages/client/src/stores/index.ts
  packages/client/src/stores/libraryStore.ts
  packages/client/src/stores/useLibraryStore.ts
  packages/client/src/stores/util.ts
  packages/interface/package.json
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/TagExplorer.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  pnpm-lock.yaml
Due: type-check, lint

upgrade valtio back to latest
  packages/client/package.json
  packages/interface/package.json
  pnpm-lock.yaml
Due: none

new context menu
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/ui/package.json
  packages/ui/src/ContextMenu/index.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: type-check, lint

Preparing some scaffolding for video thumbnails
  core/src/encode/thumb.rs
Due: rust-fmt

Implemented thumbnail generation for videos * Propagating errors of `Node` creation * Using ffmpeg feature gate
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/lib.rs
  apps/mobile/src/types/bindings.ts
  apps/server/src/main.rs
  core/Cargo.toml
  core/index.ts
  core/src/api/utils/invalidate.rs
  core/src/encode/thumb.rs
  core/src/lib.rs
Due: type-check, lint, rust-fmt

Disable the cmd window in Windows
  apps/desktop/src-tauri/src/main.rs
Due: rust-fmt

fix readme message about rspc
  README.md
Due: markdown-link-check

Switch to Valtio
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/file/FileItem.tsx
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/hooks/rspc.ts
  apps/mobile/src/hooks/useCounter.ts
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/stores/libraryStore.ts
  apps/mobile/src/stores/modalStore.ts
  apps/mobile/src/stores/onboardingStore.ts
  apps/mobile/src/stores/useLibraryStore.ts
  apps/mobile/src/stores/useModalStore.ts
  apps/mobile/src/stores/useOnboardingStore.ts
  apps/mobile/src/stores/utils.ts
  apps/mobile/src/types/declarations.d.ts
Due: type-check, lint

Bindings
  apps/mobile/src/types/bindings.ts
  core/index.ts
Due: type-check, lint

Formatting rust?
  apps/desktop/src-tauri/src/main.rs
Due: rust-fmt

Upgraded rspc with libraries + upgrade PCR 0.6.0
  Cargo.lock
  README.md
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/mod.rs
  core/src/api/tags.rs
  core/src/api/utils/library.rs
  core/src/api/utils/mod.rs
  core/src/file/cas/identifier.rs
  core/src/job/worker.rs
  pnpm-lock.yaml
Due: markdown-link-check, rust-fmt

fix everything after rebase
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/api/files.rs
  core/src/api/jobs.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/mod.rs
  core/src/api/tags.rs
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/location/mod.rs
Due: type-check, lint, rust-fmt

rename getAll to list
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/api/volumes.rs
  core/src/job/worker.rs
  core/src/library/library_manager.rs
  core/src/location/mod.rs
  packages/client/src/stores/useLibraryStore.ts
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: type-check, lint, rust-fmt

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
