Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

Remove @sd/core from mobile
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/file/FileItem.tsx
  apps/mobile/src/containers/OverviewStats.tsx
Due: type-check, lint

Fixes silent exit when cargo or pnpm are not present, updates tauri dependencies for Debian 11.0 buster (stable)
  .github/scripts/setup-system.sh
Due: none

Fixes Tauri dependencies for Debian Buster (stable), fixes warning for users without cargo or pnpm installed
  .github/scripts/setup-system.sh
Due: none

File Modal
  apps/mobile/src/App.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/file/FileIcon.tsx
  apps/mobile/src/components/file/FileItem.tsx
  apps/mobile/src/components/modals/FileDetails.tsx
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/components/modals/GlobalModals.tsx
  apps/mobile/src/components/modals/layout/ModalBackdrop.tsx
  apps/mobile/src/components/modals/layout/ModalHandle.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/stores/useModalStore.ts
  apps/mobile/src/types/declarations.d.ts
Due: type-check, lint

Prettify File Modal & Add date-fns
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/base/Divider.tsx
  apps/mobile/src/components/file/FileItem.tsx
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/components/modals/layout/ModalHandle.tsx
  apps/mobile/src/stores/useModalStore.ts
Due: type-check, lint

IOS subscriptions
  Cargo.lock
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/ios/Spacedrive/SDCore.m
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/Makefile
  apps/mobile/rust/src/ios.rs
  apps/mobile/rust/src/lib.rs
  apps/mobile/src/screens/TempCoreDebug.tsx
  core/Cargo.toml
Due: type-check, lint, rust-fmt

Update package versions
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

Custom header for stack screens
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
  apps/mobile/src/screens/Overview.tsx
Due: type-check, lint

Update index.page.tsx
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

android subscriptions
  Cargo.toml
  apps/mobile/android/app/src/main/java/com/spacedrive/app/SDCore.java
  apps/mobile/package.json
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/lib.rs
  apps/mobile/src/screens/TempCoreDebug.tsx
Due: type-check, lint, rust-fmt

Animate Drawer button & template for Search screen
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/screens/modals/Search.tsx
Due: type-check, lint

update pnpm-lock
  pnpm-lock.yaml
Due: none

use latest prisma-client-rust
  Cargo.lock
  core/Cargo.toml
  core/prisma/Cargo.toml
Due: none

update to latest prisma-client-rust
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/files.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/file/cas/identifier.rs
  core/src/file/indexer.rs
  core/src/job/job_manager.rs
  core/src/job/mod.rs
  core/src/library/library_manager.rs
  core/src/sys/locations.rs
  core/src/sys/volumes.rs
  core/src/util/db.rs
Due: rust-fmt

keep dist folder in desktop
  .gitignore
  apps/desktop/dist/.gitignore
Due: none

fix clippy ci
  .github/workflows/clippy.yml
Due: none

use ghost api v5 on landing
  apps/landing/package.json
  apps/landing/src/pages/blog/api.ts
  apps/landing/src/pages/blog/post.page.server.ts
Due: type-check, lint

hide funding announcement as blog post isn't working
  apps/landing/src/pages/blog/index.page.server.ts
  apps/landing/src/pages/blog/index.page.tsx
  apps/landing/src/pages/blog/post.page.server.ts
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

brenan is stupid
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

Search header
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/screens/modals/Search.tsx
Due: type-check, lint

Fix Search icon being weird
  apps/mobile/src/screens/modals/Search.tsx
Due: type-check, lint

hotfix: (macOS) app platform prop not being set correctly
  packages/interface/src/App.tsx
Due: type-check, lint

Updating to new prisma rev
  core/Cargo.toml
  core/src/file/cas/identifier.rs
Due: rust-fmt

Updating photo
  apps/landing/src/assets/images/team/ericson.jpg
Due: none

Some documentation tweaks
  core/src/api/utils/invalidate.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/indexer/indexer_rules.rs
  core/src/location/mod.rs
Due: rust-fmt

fix rspc dep + setup script for mobile
  .github/scripts/setup-system.sh
  CONTRIBUTING.md
  Cargo.lock
  apps/mobile/android/app/build.gradle
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  apps/mobile/rust/src/lib.rs
  apps/server/Cargo.toml
  core/Cargo.toml
  core/src/lib.rs
Due: markdown-link-check, rust-fmt

Less margin on header
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/screens/modals/Search.tsx
Due: type-check, lint

Move shared assets & drawer logo for mobile
  apps/landing/package.json
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/NavBar.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/assets/temp/folder-white.svg
  apps/mobile/src/assets/temp/folder.svg
  apps/mobile/src/assets/temp/logo.png
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerLogo.tsx
  apps/mobile/src/components/file/FileIcon.tsx
  apps/mobile/src/components/icons/FolderIcon.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  packages/assets/images/logo.png
  packages/assets/svgs/folder-white.svg
  packages/assets/svgs/folder.svg
  packages/interface/src/assets/svg/folder-white.svg
  packages/interface/src/assets/svg/folder.svg
  packages/interface/src/components/icons/Folder.tsx
  pnpm-lock.yaml
Due: type-check, lint

Adds error trap, updates broken conditionals for use with set -e, updates DEBIAN_TAURI_DEPS to use libayatanya-appindicator3-dev
  .github/scripts/setup-system.sh
Due: none

Adds trap for error handling from set -e, updates error handling conditionals for set -e compatibility, updates debian tauri dependencies
  .github/scripts/setup-system.sh
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
