Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

Use feature gated database branch of PCR (#387)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/tags.rs
Due: rust-fmt

Merge remote-tracking branch 'refs/remotes/origin/main'
  .github/workflows/ci.yml
  .github/workflows/clippy.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/landing/src/pages/roadmap.page.tsx
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/lib.rs
  apps/server/Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/encode/thumb.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/util/db.rs
  docs/developers/architecture/search.md
  docs/developers/architecture/spaces.md
  docs/developers/architecture/sync.md
Due: type-check, lint, markdown-link-check, rust-fmt

placeholder docs
  docs/developers/architecture/spaces.md
  docs/product/guides/connecting-nodes.md
  docs/product/guides/converting-files.md
  docs/product/guides/creating-locations.md
  docs/product/guides/creating-spaces.md
  docs/product/guides/database-backup.md
  docs/product/guides/discover-duplicates.md
  docs/product/guides/file-viewer.md
  docs/product/guides/generating-thumbails.md
  docs/product/guides/managing-jobs.md
  docs/product/guides/managing-tags.md
  docs/product/guides/photo-albums.md
Due: markdown-link-check

correct pre styles + env setup guide
  apps/landing/src/components/Markdown.tsx
  docs/developers/prerequisites/environment-setup.md
  docs/developers/prerequisites/welcome.md
Due: type-check, lint, markdown-link-check

search coming soon
  apps/landing/src/components/DocsSidebar.tsx
Due: type-check, lint

docs cleanup
  apps/landing/public/locations.webp
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/components/NavBar.tsx
  docs/developers/prerequisites/environment-setup.md
  docs/product/guides/adding-locations.md
  docs/product/guides/creating-locations.md
  packages/ui/src/Dropdown.tsx
Due: type-check, lint, markdown-link-check

Fix lib switching, organization, start import modal
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/components/modals/layout/ModalBackdrop.tsx
  apps/mobile/src/components/modals/layout/ModalHandle.tsx
  apps/mobile/src/containers/browse/BrowseLocationItem.tsx
  apps/mobile/src/containers/browse/BrowseTagItem.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
  apps/mobile/src/containers/drawer/DrawerContent.tsx
  apps/mobile/src/containers/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/containers/drawer/DrawerLocations.tsx
  apps/mobile/src/containers/drawer/DrawerTags.tsx
  apps/mobile/src/containers/modals/FileModal.tsx
  apps/mobile/src/containers/modals/GlobalModals.tsx
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/utils/nav.ts
Due: type-check, lint

Introducing ffmpegthumbnailer-rs as a subcrate on core
  Cargo.lock
  core/Cargo.toml
  core/ffmpegthumbnailer-rs/.gitignore
  core/ffmpegthumbnailer-rs/Cargo.toml
  core/ffmpegthumbnailer-rs/LICENSE
  core/ffmpegthumbnailer-rs/README.md
  core/ffmpegthumbnailer-rs/src/error.rs
  core/ffmpegthumbnailer-rs/src/film_strip.rs
  core/ffmpegthumbnailer-rs/src/lib.rs
  core/ffmpegthumbnailer-rs/src/movie_decoder.rs
  core/ffmpegthumbnailer-rs/src/thumbnailer.rs
  core/ffmpegthumbnailer-rs/src/utils.rs
  core/ffmpegthumbnailer-rs/src/video_frame.rs
Due: markdown-link-check, rust-fmt

- rename to thumbnailer - fix explorer thumbnail bug - add more supported video types - re-fix explorer performance
  Cargo.lock
  apps/landing/stats.html
  apps/mobile/src/components/file/FileItem.tsx
  core/Cargo.toml
  core/src/encode/thumb.rs
  core/thumbnailer/.gitignore
  core/thumbnailer/Cargo.toml
  core/thumbnailer/LICENSE
  core/thumbnailer/README.md
  core/thumbnailer/src/error.rs
  core/thumbnailer/src/film_strip.rs
  core/thumbnailer/src/lib.rs
  core/thumbnailer/src/movie_decoder.rs
  core/thumbnailer/src/thumbnailer.rs
  core/thumbnailer/src/utils.rs
  core/thumbnailer/src/video_frame.rs
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

remove nested licence
  core/thumbnailer/LICENSE
Due: none

Video thumbnails (#376)
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/menu.rs
  apps/mobile/rust/src/android.rs
  apps/mobile/src/components/file/FileItem.tsx
  apps/server/src/main.rs
  core/Cargo.toml
  core/src/encode/thumb.rs
  core/src/lib.rs
  core/thumbnailer/.gitignore
  core/thumbnailer/Cargo.toml
  core/thumbnailer/README.md
  core/thumbnailer/src/error.rs
  core/thumbnailer/src/film_strip.rs
  core/thumbnailer/src/lib.rs
  core/thumbnailer/src/movie_decoder.rs
  core/thumbnailer/src/thumbnailer.rs
  core/thumbnailer/src/utils.rs
  core/thumbnailer/src/video_frame.rs
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

Video thumbnails (#376)
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/menu.rs
  apps/landing/stats.html
  apps/mobile/rust/src/android.rs
  apps/mobile/src/components/file/FileItem.tsx
  apps/server/src/main.rs
  core/Cargo.toml
  core/src/encode/thumb.rs
  core/src/lib.rs
  core/thumbnailer/.gitignore
  core/thumbnailer/Cargo.toml
  core/thumbnailer/README.md
  core/thumbnailer/src/error.rs
  core/thumbnailer/src/film_strip.rs
  core/thumbnailer/src/lib.rs
  core/thumbnailer/src/movie_decoder.rs
  core/thumbnailer/src/thumbnailer.rs
  core/thumbnailer/src/utils.rs
  core/thumbnailer/src/video_frame.rs
  packages/client/src/hooks/useCurrentLibrary.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

resolved cargo
  Cargo.lock
Due: none

reorder docs + add image
  apps/landing/public/thumbnails.webp
  docs/developers/architecture/filesystem.md
  docs/developers/architecture/search.md
  docs/developers/architecture/sync.md
  docs/developers/architecture/tags.md
  docs/developers/architecture/virtual-filesystem.md
  docs/product/getting-started/introduction.md
  docs/product/guides/generating-thumbails.md
  pnpm-lock.yaml
Due: markdown-link-check

Add device size info
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/containers/OverviewStats.tsx
Due: type-check, lint

Bump Rust version on Contributing
  CONTRIBUTING.md
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
Due: type-check, lint, markdown-link-check

add temp custom icons and tweak styles
  packages/assets/svgs/folder.svg
  packages/assets/svgs/video.svg
  packages/assets/svgs/zip.svg
  packages/client/src/stores/explorerStore.ts
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint

Fix form double firing
  packages/interface/src/components/layout/Dialog.tsx
Due: type-check, lint

[Eng 200] enter on keyboard doesn't cause modal to submit (#382)
  CONTRIBUTING.md
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/layout/Dialog.tsx
Due: type-check, lint, markdown-link-check

make rust 1.64 requirement more concrete
  Cargo.lock
  Cargo.toml
  apps/mobile/rust/Cargo.toml
  core/Cargo.toml
  core/src/util/db.rs
Due: rust-fmt

Revert merge + version upgrade/fix
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/containers/modals/FileModal.tsx
Due: type-check, lint

tweaks
  apps/desktop/src/index.tsx
  apps/landing/.eslintrc.js
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/interface/src/screens/settings/client/GeneralSettings.tsx
  packages/interface/src/screens/settings/info/AboutSpacedrive.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint

fix landing page build
  apps/landing/.gitignore
  apps/landing/tsconfig.json
Due: none

expand prisma client cache key
  .github/workflows/ci.yml
Due: none

use proper workflow syntax
  .github/workflows/ci.yml
Due: none

small landing fixes
  apps/landing/.eslintrc.js
  apps/landing/src/pages/blog/post.page.server.ts
  apps/landing/src/pages/blog/post.page.tsx
  apps/landing/src/pages/docs/index.page.tsx
Due: type-check, lint

- removed all typescript from core - moved rspc bindings to client
  .prettierrc.json
  apps/desktop/package.json
  apps/web/package.json
  core/src/api/mod.rs
  package.json
  packages/client/package.json
  packages/client/src/core.ts
  packages/client/src/index.ts
  packages/client/src/rspc.ts
  packages/client/src/types/file.ts
  packages/client/src/types/index.ts
  packages/interface/package.json
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileRow.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/components/explorer/utils.ts
  packages/interface/src/components/jobs/JobManager.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/settings/library/LocationSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: type-check, lint, rust-fmt

remove useless git ignore & rustfmt
  .gitignore
  .rustfmt.toml
  core/.gitignore
  core/.rustfmt.toml
  crates/prisma/.gitignore
  packages/client/.gitignore
Due: none

bump Typescript target to ESNext
  packages/config/base.tsconfig.json
Due: none
