Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

Dialog & fixed relative imports
  apps/mobile/babel.config.js
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/animation/layout.tsx
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  apps/mobile/src/components/browse/BrowseTagItem.tsx
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerLogo.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/modals/FileModal.tsx
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/components/primitive/Divider.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/OnboardingNavigator.tsx
  apps/mobile/src/navigation/SharedScreens.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/NotFound.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/modals/settings/Settings.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/tsconfig.json
Due: type-check, lint

Fix package.json for interface
  packages/interface/package.json
Due: none

fix brendan feedback + merge main
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/menu.rs
  apps/desktop/src/index.tsx
  apps/landing/package.json
  apps/landing/src/components/NavBar.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/prisma/migrations/20220830162532_add_is_archived/migration.sql
  core/src/api/files.rs
  core/src/object/mod.rs
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/package.json
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileList.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/tooltip/Tooltip.tsx
  packages/interface/src/hooks/useCounter.ts
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/screens/Overview.tsx
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

fix type
  packages/client/src/types/file.ts
Due: type-check, lint

codegen
  apps/mobile/src/types/bindings.ts
  core/index.ts
  pnpm-lock.yaml
Due: type-check, lint

new invalidate_query + add IOS sim to setup script
  .github/scripts/setup-system.sh
  core/src/api/files.rs
  core/src/api/utils/invalidate.rs
Due: rust-fmt

style changes
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/ios/Spacedrive/Spacedrive.entitlements
  apps/mobile/src/components/drawer/DrawerContent.tsx
  core/src/object/mod.rs
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint, rust-fmt

revert windows size and xcode proj
  apps/desktop/src-tauri/tauri.conf.json
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  core/src/object/mod.rs
Due: rust-fmt

remove outdated doc
  docs/architecture/nodes.md
Due: markdown-link-check

coming sooooooon
  docs/changelog/index.md
Due: markdown-link-check

updated release notes
  docs/changelog/index.md
Due: markdown-link-check

release notes
  docs/changelog/index.md
Due: markdown-link-check

dashes > dots
  docs/changelog/index.md
Due: markdown-link-check

clean up docs
  docs/architecture/albums.md
  docs/architecture/database.md
  docs/architecture/explorer.md
  docs/architecture/extensions.md
  docs/architecture/filesystem.md
  docs/architecture/jobs.md
  docs/architecture/libraries.md
  docs/architecture/locations.md
  docs/architecture/nodes.md
  docs/architecture/objects.md
  docs/architecture/sync.md
  docs/architecture/tags.md
  docs/changelog/index.md
  docs/product/ideas.md
  packages/interface/src/components/file/Explorer.tsx
Due: type-check, lint, markdown-link-check

more docs!
  docs/architecture/objects.md
  docs/architecture/preview-media.md
  docs/architecture/search.md
  docs/architecture/spaces.md
  docs/architecture/sync.md
  docs/architecture/tags.md
  docs/changelog/index.md
Due: markdown-link-check

restore entitlements
  apps/mobile/ios/Spacedrive/Spacedrive.entitlements
Due: none

remove unused util
  packages/interface/src/util/aspectRatio.ts
Due: type-check, lint

Introducing a compoung unique key between `node_id` and `local_path` at `locations` table
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/prisma/migrations/20220831203737_location_compound_unique_key_node_id_local_path/migration.sql
  core/prisma/schema.prisma
Due: type-check, lint

Init libraries with rspc + fix feedback stuff
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/primitive/Input.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/OnboardingNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/src/stores/useLibraryStore.ts
Due: type-check, lint

Align color with desktop & start library selector
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerLogo.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
  apps/mobile/src/screens/modals/Search.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
Due: type-check, lint

regenerated migrations post merge - some additional error handling added to migration runner, needs more work!
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/prisma/migrations/20220902014900_add_is_archived/migration.sql
  core/src/util/db.rs
Due: type-check, lint, rust-fmt

refactor explorer to support tags
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/api/files.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/encode/thumb.rs
  packages/client/src/stores/useExplorerStore.ts
  packages/config/base.tsconfig.json
  packages/interface/package.json
  packages/interface/src/AppLayout.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileList.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/inspector/Divider.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/explorer/inspector/MetaItem.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/components/explorer/utils.ts
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileThumb.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/screens/Tag.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/util/debounce.ts
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

fix error and revert explorer bg color
  core/src/api/locations.rs
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint, rust-fmt

put it in a box they said
  core/src/api/locations.rs
  core/src/api/tags.rs
Due: rust-fmt

revert location id store removal
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/screens/Explorer.tsx
Due: type-check, lint

upgrade hero icons + style tweaks
  apps/landing/package.json
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/careers.page.tsx
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/package.json
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/device/Device.tsx
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileList.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Modal.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/location/LocationListItem.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/TagExplorer.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/client/ExtensionsSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/package.json
  packages/ui/src/Dropdown.stories.tsx
  packages/ui/src/Dropdown.tsx
  pnpm-lock.yaml
Due: type-check, lint

add tanstack virtual
  apps/desktop/src/index.html
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/package.json
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileList.tsx
  packages/interface/src/components/explorer/FileRow.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/screens/LocationExplorer.tsx
  pnpm-lock.yaml
Due: type-check, lint

Library menu & create library modal
  apps/mobile/ios/Spacedrive/Info.plist
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/layout/CollapsibleView.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/hooks/useCachedResources.ts
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/modals/Search.tsx
Due: type-check, lint

Update bindings =_=
  apps/mobile/src/types/bindings.ts
  core/index.ts
Due: type-check, lint
