Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

allow force reset of db in dev
  core/src/util/db.rs
Due: rust-fmt

remove .spacedrive file
  .gitignore
  packages/.spacedrive
Due: none

fix Heroicon imports & page rendering
  .gitignore
  apps/landing/package.json
  apps/landing/src/pages/docs/doc.page.server.ts
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/renderer/_default.page.server.tsx
  apps/landing/src/renderer/types.ts
  apps/landing/vite.config.ts
  pnpm-lock.yaml
Due: type-check, lint

tweaks
  apps/landing/src/App.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/pages/blog/blog.ts
  apps/landing/src/pages/blog/index.page.server.ts
  apps/landing/src/pages/blog/index.page.tsx
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/index.page.tsx
  apps/landing/src/pages/team.page.tsx
  docs/developers/architecture/libraries.md
  docs/developers/architecture/objects.md
  docs/developers/clients/cli.md
  docs/product/getting-started/introduction.md
Due: type-check, lint, markdown-link-check

update rspc in apps/server
  Cargo.lock
  apps/server/Cargo.toml
Due: none

next doc
  apps/landing/src/components/DocsSidebar.tsx
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/doc.page.tsx
Due: type-check, lint

fix build
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/docs/index.page.server.ts
Due: type-check, lint

Cleanup metro config & update packages
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

onClose for Dialog & update library cache
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/containers/dialog/CreateLibraryDialog.tsx
Due: type-check, lint

Fix pods, downgrade react-native-svg
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

use rspc 0.0.5 in all crates
  .github/workflows/clippy.yml
  Cargo.lock
  apps/mobile/rust/Cargo.toml
Due: none

add os to prisma client cache key
  .github/workflows/ci.yml
Due: none

add runner os to clippy prisma cache
  .github/workflows/clippy.yml
Due: none

fix ssg failure
  apps/landing/src/renderer/_default.page.server.tsx
Due: type-check, lint

fix prod build for REAL
  apps/landing/package.json
  apps/landing/src/components/Bubbles.tsx
  apps/landing/src/pages/index.page.tsx
  pnpm-lock.yaml
Due: type-check, lint

fix next doc api
  apps/landing/src/pages/docs/api.ts
  docs/product/getting-started/setup.md
Due: type-check, lint, markdown-link-check

it's the bubbles
  apps/landing/src/components/Bubbles.tsx
Due: type-check, lint

it's the bubbles
  apps/landing/src/components/Bubbles.tsx
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

wip: docs mobile
  apps/landing/package.json
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/doc.page.tsx
  pnpm-lock.yaml
Due: type-check, lint

doc nav tweak
  apps/landing/src/components/DocsLayout.tsx
  docs/product/getting-started/introduction.md
Due: type-check, lint, markdown-link-check

doc menu ui
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/DocsSidebar.tsx
Due: type-check, lint

fix next doc in pre-render
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/index.page.server.ts
Due: type-check, lint

Use PCR for migrations (#385)
  .github/workflows/ci.yml
  .github/workflows/clippy.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/mobile/rust/Cargo.toml
  apps/server/Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/locations.rs
  core/src/encode/thumb.rs
  core/src/library/library_manager.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/mod.rs
  core/src/util/db.rs
Due: rust-fmt

react-borger-menu
  apps/landing/package.json
  apps/landing/server/index.ts
  apps/landing/src/App.tsx
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/renderer/_default.page.server.tsx
  pnpm-lock.yaml
Due: type-check, lint

fix build
  apps/landing/src/components/DocsLayout.tsx
Due: type-check, lint

fix height and padding
  apps/landing/src/components/DocsLayout.tsx
Due: type-check, lint

mobile docs nav styles
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

oooh super cool transition
  apps/landing/src/components/DocsLayout.tsx
Due: type-check, lint

fix button state glitch + big headings
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/Markdown.tsx
Due: type-check, lint

refactor layout
  apps/landing/src/App.tsx
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/Markdown.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/pages/blog/index.page.tsx
  apps/landing/src/pages/careers.page.tsx
  apps/landing/src/pages/docs/api.ts
  apps/landing/src/pages/docs/doc.page.tsx
  apps/landing/src/pages/roadmap.page.tsx
  apps/landing/src/pages/team.page.tsx
  apps/landing/src/renderer/_error.page.tsx
Due: type-check, lint

docs mobile nav bar style
  apps/landing/src/components/DocsLayout.tsx
  apps/landing/src/style.scss
Due: type-check, lint

use feature gating branch of pcr
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/prisma/Cargo.toml
  core/src/api/tags.rs
Due: rust-fmt

fix min width & height
  apps/landing/src/pages/docs/doc.page.tsx
Due: type-check, lint

typo fixes
  README.md
  core/Cargo.toml
  core/src/util/db.rs
  docs/architecture/search.md
  docs/architecture/spaces.md
  docs/architecture/sync.md
Due: markdown-link-check, rust-fmt

remove needs: typescript from rust ci
  .github/workflows/ci.yml
Due: none

extract long type to please clippy
  apps/mobile/rust/src/lib.rs
Due: rust-fmt
