Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

Cleanup monorepo
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
Due: markdown-link-check

Fix: Style for FileItem
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/file/FileItem.tsx
Due: type-check, lint

Above average app icons
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/mobile/app.json
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-20x20@1x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-20x20@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-20x20@3x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-29x29@1x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-29x29@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-29x29@3x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-40x40@1x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-40x40@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-40x40@3x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-60x60@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-60x60@3x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-76x76@1x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-76x76@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/App-Icon-83.5x83.5@2x.png
  apps/mobile/ios/Spacedrive/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  apps/mobile/src/assets/app/adaptive-icon.png
  apps/mobile/src/assets/app/icon.png
  apps/mobile/src/assets/app/splash.png
Due: none

(fix) add new team members
  core/src/api/utils/invalidate.rs
  docs/architecture/distributed-data-sync.md
  docs/architecture/rust-typescript-messaging.md
  docs/architecture/virtual-filesystem.md
  packages/interface/src/ErrorFallback.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

(fix) add new team members
  apps/landing/package.json
  apps/landing/src/assets/images/team/ericson.jpg
  apps/landing/src/assets/images/team/utku.jpg
  apps/landing/src/pages/team.page.tsx
  core/src/api/utils/invalidate.rs
  docs/architecture/distributed-data-sync.md
  docs/architecture/rust-typescript-messaging.md
  docs/architecture/virtual-filesystem.md
  packages/interface/src/ErrorFallback.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

cleanup ios
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/noop-file.swift
  apps/mobile/ios/spacedrive.xcworkspace/contents.xcworkspacedata
Due: none

update msrv
  CONTRIBUTING.md
Due: markdown-link-check

update codeowners for mobile
  .github/CODEOWNERS
Due: none

fix typecheck
  CONTRIBUTING.md
  apps/landing/package.json
  package.json
  pnpm-lock.yaml
Due: markdown-link-check

update lockfile
  pnpm-lock.yaml
Due: none

fix ffmpeg install
  .github/scripts/setup-system.sh
Due: none

Spacetunnel URL from config
  core/src/node/config.rs
  core/src/p2p/p2p.rs
Due: rust-fmt

fix landing page
  apps/landing/package.json
  apps/landing/server/index.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: type-check, lint

fix landing page
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

rename UI to 'SpacedriveInterface' for clarity
  packages/interface/src/App.tsx
  packages/interface/src/index.ts
Due: type-check, lint

Update codeowners
  .github/CODEOWNERS
Due: none

clearer documentation about Windows setup script
  CONTRIBUTING.md
Due: markdown-link-check

Fix eslint config mobile.
  apps/mobile/.eslintrc.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

Refactor navigation flow, move types to navigators
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  apps/mobile/src/components/browse/BrowseTagItem.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerScreenWrapper.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/containers/OverviewStats.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/LinkingConfiguration.ts
  apps/mobile/src/navigation/OnboardingNavigator.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/NotFound.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/ModalScreen.tsx
  apps/mobile/src/screens/modals/settings/Settings.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/types/declarations.d.ts
  apps/mobile/src/types/navigation.ts
Due: type-check, lint

fix invalid package.json
  packages/interface/package.json
Due: none

Refactor navigation flow & types
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerScreenWrapper.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/SharedScreens.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/onboarding/Onboarding.tsx
  apps/mobile/src/types/declarations.d.ts
Due: type-check, lint

Remove drawer screen wrapper
  apps/mobile/src/components/drawer/DrawerScreenWrapper.tsx
  apps/mobile/src/screens/Browse.tsx
  apps/mobile/src/screens/Location.tsx
  apps/mobile/src/screens/Overview.tsx
  apps/mobile/src/screens/Photos.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/Tag.tsx
  apps/mobile/src/screens/modals/settings/Settings.tsx
Due: type-check, lint

Remove DrawerItem + cleanup
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerItem.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
Due: type-check, lint

Switch to JS Stack Nav & header animations
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLocationItem.tsx
  apps/mobile/src/components/drawer/DrawerTagItem.tsx
  apps/mobile/src/navigation/DrawerNavigator.tsx
  apps/mobile/src/navigation/OnboardingNavigator.tsx
  apps/mobile/src/navigation/SharedScreens.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/navigation/tabs/BrowseStack.tsx
  apps/mobile/src/navigation/tabs/OverviewStack.tsx
  apps/mobile/src/navigation/tabs/PhotosStack.tsx
  apps/mobile/src/navigation/tabs/SpacesStack.tsx
Due: type-check, lint

Move eslint to config package
  .eslintrc.js
  apps/mobile/.eslintignore
  apps/mobile/.eslintrc.js
  apps/mobile/.eslintrc.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  package.json
  packages/config/eslint-preset.js
  packages/config/eslint-react-native.js
  packages/config/eslint-react.js
  packages/config/package.json
  packages/interface/.eslintrc.js
  packages/interface/package.json
  pnpm-lock.yaml
Due: type-check, lint

Move eslint to config package
  .eslintrc.js
  apps/landing/.eslintrc.js
  apps/landing/package.json
  apps/mobile/.eslintignore
  apps/mobile/.eslintrc.js
  apps/mobile/.eslintrc.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/browse/BrowseLocationItem.tsx
  package.json
  packages/config/eslint-preset.js
  packages/config/eslint-react-native.js
  packages/config/eslint-react.js
  packages/config/package.json
  packages/interface/.eslintrc.js
  packages/interface/package.json
  pnpm-lock.yaml
Due: type-check, lint

Fix types - Landing
  apps/landing/package.json
  apps/landing/src/components/AppEmbed.tsx
  apps/landing/src/components/Footer.tsx
  apps/landing/src/components/NavBar.tsx
  apps/landing/src/components/TeamMember.tsx
  apps/landing/src/pages/blog/index.page.tsx
  apps/landing/src/pages/blog/post.page.tsx
  apps/landing/src/pages/careers.page.tsx
  apps/landing/src/pages/index.page.tsx
  apps/landing/src/pages/team.page.tsx
  apps/landing/src/renderer/types.ts
  apps/landing/src/utils/index.ts
Due: type-check, lint

Fix types - Mobile
  apps/mobile/.eslintrc.js
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/types/declarations.d.ts
  packages/config/eslint-react-native.js
  packages/config/package.json
  pnpm-lock.yaml
Due: type-check, lint

Fix types - Interface
  packages/interface/package.json
  packages/interface/src/App.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/file/FileList.tsx
  packages/interface/src/components/file/FileThumb.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/file/Sidebar.tsx
  packages/interface/src/components/jobs/RunningJobsWidget.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/components/primitive/Codeblock.tsx
  packages/interface/src/components/primitive/Listbox.tsx
  packages/interface/src/screens/Content.tsx
  packages/interface/src/screens/Debug.tsx
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Photos.tsx
  packages/interface/src/screens/Redirect.tsx
  packages/interface/src/screens/Tag.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
Due: type-check, lint

[WIP] Spacedrive core on Android & IOS
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/java/com/spacedrive/app/MainApplication.java
  apps/mobile/android/app/src/main/java/com/spacedrive/app/SDCore.java
  apps/mobile/android/app/src/main/java/com/spacedrive/app/SpacedrivePackage.java
  apps/mobile/android/build.gradle
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/SDCore.h
  apps/mobile/ios/Spacedrive/SDCore.m
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/Makefile
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  apps/mobile/rust/src/lib.rs
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/TempCoreDebug.tsx
  core/Cargo.toml
  core/src/api/mod.rs
  core/src/api/utils/invalidate.rs
  core/src/encode/metadata.rs
  core/src/lib.rs
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

added transition to navbar background color
  apps/landing/src/components/NavBar.tsx
Due: type-check, lint

fix Windows support
  apps/desktop/src/index.tsx
  packages/client/src/context/AppPropsContext.tsx
  packages/interface/src/App.tsx
Due: type-check, lint

Update Podfile and cleanup Contributing guide.
  CONTRIBUTING.md
  apps/mobile/ios/Podfile.lock
Due: markdown-link-check

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
