Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

add `thiserror` and error handling
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/error.rs
  crates/crypto/src/file/decrypt.rs
  crates/crypto/src/file/encrypt.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/utils/stream.rs
Due: rust-fmt

please rustfmt
  apps/mobile/rust/src/android.rs
  apps/mobile/rust/src/ios.rs
  apps/server/src/main.rs
Due: rust-fmt

use different cache
  .github/workflows/ci.yml
Due: none

backend rename complete
  apps/mobile/src/types/bindings.ts
  core/prisma/migrations/20220909073230_init/migration.sql
  core/prisma/migrations/migration_lock.toml
  core/prisma/schema.prisma
  core/src/api/files.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/object/identifier_job.rs
  core/src/object/mod.rs
  core/src/object/preview/thumb.rs
  core/src/util/db.rs
  packages/client/src/core.ts
Due: type-check, lint, rust-fmt

cache prisma client in rustfmt
  .github/workflows/ci.yml
Due: none

cleanup prettier config
  .prettierignore
  .prettierrc.cli.js
  .prettierrc.js
  .prettierrc.json
Due: none

build server image in sub-action
  .github/actions/build-server-image/action.yaml
  .github/workflows/ci.yml
Due: none

finalize Object refactor frontend + remove some exhaustive dep suppression + FIX INVALIDATE QUERY BUG
  .gitignore
  apps/mobile/src/components/device/Device.tsx
  core/prisma/migrations/20221004133318_init/migration.sql
  core/prisma/migrations/migration_lock.toml
  core/src/api/tags.rs
  core/src/api/utils/invalidate.rs
  core/src/object/identifier_job.rs
  package.json
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/components/explorer/utils.ts
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/hooks/useCounter.ts
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Redirect.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
Due: type-check, lint, rust-fmt

Rename Files to Objects (#396)
  .gitignore
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/types/bindings.ts
  core/prisma/migrations/20221004133318_init/migration.sql
  core/prisma/schema.prisma
  core/src/api/files.rs
  core/src/api/libraries.rs
  core/src/api/locations.rs
  core/src/api/tags.rs
  core/src/api/utils/invalidate.rs
  core/src/object/identifier_job.rs
  core/src/object/mod.rs
  core/src/object/preview/thumb.rs
  core/src/util/db.rs
  package.json
  packages/client/src/core.ts
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/explorer/ExplorerContextMenu.tsx
  packages/interface/src/components/explorer/FileItem.tsx
  packages/interface/src/components/explorer/FileThumb.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/components/explorer/VirtualizedList.tsx
  packages/interface/src/components/explorer/inspector/FavoriteButton.tsx
  packages/interface/src/components/explorer/inspector/Note.tsx
  packages/interface/src/components/explorer/utils.ts
  packages/interface/src/components/layout/Sidebar.tsx
  packages/interface/src/hooks/useCounter.ts
  packages/interface/src/screens/LocationExplorer.tsx
  packages/interface/src/screens/Overview.tsx
  packages/interface/src/screens/Redirect.tsx
  packages/interface/src/screens/settings/library/LibraryGeneralSettings.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
Due: type-check, lint, rust-fmt

- added Object type structs - added extension enums with variant macros - improved explorer rendering - added database migration hotfix
  core/src/api/jobs.rs
  core/src/object/kind.rs
  core/src/object/mod.rs
  core/src/object/preview/thumb.rs
  core/src/util/db.rs
  packages/interface/src/components/explorer/Explorer.tsx
  packages/interface/src/components/explorer/Inspector.tsx
  packages/interface/src/screens/LocationExplorer.tsx
Due: type-check, lint, rust-fmt

update pcr version
  Cargo.lock
  Cargo.toml
Due: none

- added dev only data folder - improved explorer image loading
  core/src/lib.rs
  core/src/object/kind.rs
  packages/interface/src/components/explorer/FileThumb.tsx
Due: type-check, lint, rust-fmt

server image + prisma client custom actions
  .github/actions/build-server-image/action.yaml
  .github/actions/generate-prisma-client/action.yaml
  .github/workflows/ci.yml
  .github/workflows/clippy.yml
Due: none

remove lefthoook checks that are in ci
  lefthook.yml
Due: none

fix build-server-image
  .github/actions/publish-server-image/action.yaml
Due: none

rename Clippy job
  .github/workflows/ci.yml
Due: none

rename build core job
  .github/workflows/ci.yml
Due: none

use custom rust caching action
  .github/actions/cache-rust-deps/action.yaml
  .github/workflows/ci.yml
Due: none

fix rust cache shared key
  .github/actions/cache-rust-deps/action.yaml
Due: none

cleanup custom action job names
  .github/workflows/ci.yml
Due: none

remove platform check in clippy ci
  .github/workflows/ci.yml
Due: none

setup pnpm in clippy ci
  .github/workflows/ci.yml
Due: none

update mobile package name
  .github/scripts/setup-system.sh
  .github/workflows/ci.yml
  Cargo.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/ios.rs
  apps/mobile/rust/src/lib.rs
Due: rust-fmt

make ios compiling conditional
  apps/mobile/rust/src/lib.rs
Due: rust-fmt

use pnpm cache
  .github/workflows/ci.yml
Due: none

run clippy in release
  .github/workflows/ci.yml
Due: none

force use release for all jobs
  .github/actions/cache-rust-deps/action.yaml
Due: none

macros do rule !
  .cspell/project_words.txt
  core/src/object/kind.rs
Due: rust-fmt

add turborepo
  package.json
  packages/client/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

give docs a package.json
  apps/landing/package.json
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Improve CI Speed (#398)
  .github/actions/cache-rust-deps/action.yaml
  .github/actions/generate-prisma-client/action.yaml
  .github/actions/publish-server-image/action.yaml
  .github/scripts/setup-system.sh
  .github/workflows/ci.yml
  .github/workflows/clippy.yml
  .prettierignore
  .prettierrc.cli.js
  .prettierrc.js
  .prettierrc.json
  Cargo.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/rust/Cargo.toml
  apps/mobile/rust/src/ios.rs
  lefthook.yml
Due: rust-fmt

tabs not spaces
  package.json
Due: none

tabs not spaces
  apps/landing/package.json
  packages/client/package.json
Due: none

Use turborepo for desktop & web apps (#399)
  docs/package.json
  package.json
  packages/client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none
