Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

type-check:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files}

markdown-link-check:
  run: pnpm markdown-link-check {staged_files}

rust-fmt:
  run: cargo fmt --all -- --check

Tag queries + Identifier bug fix
  apps/desktop/src-tauri/tauri.conf.json
  core/index.ts
  core/src/api/files.rs
  core/src/api/tags.rs
  core/src/file/cas/identifier.rs
  core/src/lib.rs
  core/src/object/mod.rs
  docs/architecture/albums.md
  docs/architecture/database.md
  docs/architecture/explorer.md
  docs/architecture/filesystem.md
  docs/architecture/libraries.md
  docs/architecture/locations.md
  docs/architecture/nodes.md
  docs/architecture/object.md
  docs/architecture/preview-media.md
  docs/architecture/search.md
  docs/architecture/spaces.md
  docs/architecture/tags.md
  docs/changelog/10-4-22_0.1.0.md
  docs/changelog/index.md
  packages/client/src/stores/useExplorerStore.ts
  packages/client/src/types/file.ts
  packages/client/src/types/index.ts
  packages/interface/src/components/dialog/CreateLibraryDialog.tsx
  packages/interface/src/components/dialog/DeleteLibraryDialog.tsx
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileThumb.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/file/Sidebar.tsx
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/screens/Tag.tsx
  packages/interface/src/screens/settings/Settings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/ui/src/Dropdown.tsx
Due: type-check, lint, markdown-link-check, rust-fmt

(fix) maintain file item aspect ratio in grid view (fix) get tag query + get all tags
  core/index.ts
  core/src/api/tags.rs
  core/src/object/mod.rs
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileList.tsx
  packages/interface/src/components/file/FileThumb.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/file/Sidebar.tsx
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/screens/Tag.tsx
  packages/interface/src/screens/settings/library/TagsSettings.tsx
  packages/interface/src/screens/settings/node/LibrariesSettings.tsx
  packages/interface/src/util/aspectRatio.ts
Due: type-check, lint, rust-fmt

(fix) Re-enable blog
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

support for IOS simulator
  Cargo.lock
  Cargo.toml
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/ios/Spacedrive/SDCore.m
  apps/mobile/rust/Cargo.toml
Due: none

add type safe rspc hooks to mobile
  Cargo.lock
  Cargo.toml
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/App.tsx
  apps/mobile/src/hooks/rspc.ts
  apps/mobile/src/screens/TempCoreDebug.tsx
  apps/mobile/src/stores/useLibraryStore.ts
  apps/mobile/src/types/bindings.ts
  core/Cargo.toml
  core/derive/Cargo.toml
  core/derive/src/lib.rs
  core/src/api/mod.rs
  package.json
  packages/client/package.json
Due: type-check, lint, rust-fmt

fix landing page
  package.json
Due: none

fix landing page
  apps/landing/package.json
  apps/landing/src/pages/blog/post.page.server.ts
  apps/landing/src/pages/blog/post.page.tsx
  apps/landing/vite.config.ts
  package.json
Due: type-check, lint

Cleanup PR & Update packages
  apps/mobile/README.md
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/device/Device.tsx
  apps/mobile/src/components/file/FileIcon.tsx
  apps/mobile/src/components/file/FileItem.tsx
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/src/screens/TempCoreDebug.tsx
  apps/mobile/src/stores/useModalStore.ts
Due: type-check, lint, markdown-link-check

Updated bindings from main
  apps/mobile/rust/src/ios.rs
  apps/mobile/src/types/bindings.ts
  core/index.ts
Due: type-check, lint, rust-fmt

Update lefthook.yml
  lefthook.yml
Due: none

fix note editing
  packages/interface/src/components/file/Inspector.tsx
Due: type-check, lint

Remove `tag` folder from core The `tag` folder came back from the dead. Maybe it got confused in merge conflict?
  core/src/tag/mod.rs
Due: rust-fmt

update pnpm lockfile + fix tsc errors
  packages/client/package.json
  pnpm-lock.yaml
Due: none

fix asset import
  packages/interface/src/components/file/FileItem.tsx
Due: type-check, lint

codegen
  apps/mobile/src/types/bindings.ts
  core/index.ts
Due: type-check, lint

resurrected context menu
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint

fix window flash
  apps/desktop/src-tauri/tauri.conf.json
Due: none

remove location based thumb sorting + update react on landing
  apps/landing/package.json
  core/prisma/schema.prisma
  core/src/api/locations.rs
  core/src/encode/thumb.rs
  core/src/file/explorer/open.rs
  core/src/object/mod.rs
  packages/client/package.json
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileThumb.tsx
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

add is_archived to location
  core/prisma/schema.prisma
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileList.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

improved context menu
  apps/mobile/src/screens/Spaces.tsx
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/screens/Content.tsx
  packages/interface/src/style.scss
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint

Implementing some requested changes * Fixing unit tests on walk function * Using rsps::Error::with_cause instead of new
  core/src/api/jobs.rs
  core/src/encode/thumb.rs
  core/src/file/cas/identifier.rs
  core/src/library/library_manager.rs
  core/src/location/error.rs
  core/src/location/indexer/indexer_job.rs
  core/src/location/indexer/mod.rs
  core/src/location/indexer/walk.rs
  core/src/location/mod.rs
  core/src/volume/mod.rs
Due: rust-fmt

remove phantom file + update rspc bindings A PR must have been merged incorrect introducing this file which is not used.
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/file/explorer/open.rs
Due: type-check, lint, rust-fmt

fix pnpm lockfile
  pnpm-lock.yaml
Due: none

Color timeline to show where we are up to
  apps/landing/src/pages/roadmap.page.tsx
Due: type-check, lint

settings keyboard shortcut + fix Tauri menu items
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/menu.rs
  apps/desktop/src/index.tsx
  packages/interface/src/AppRouter.tsx
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint, rust-fmt

change breakpoint + center button
  packages/interface/src/screens/Overview.tsx
Due: type-check, lint

make typecheck pass
  apps/landing/package.json
  packages/interface/package.json
  packages/interface/src/components/tooltip/Tooltip.tsx
  pnpm-lock.yaml
Due: type-check, lint

make typecheck pass
  packages/interface/package.json
  packages/interface/src/components/tooltip/Tooltip.tsx
  pnpm-lock.yaml
Due: type-check, lint

add more tooltips
  apps/mobile/src/components/drawer/DrawerContent.tsx
  packages/interface/src/components/layout/TopBar.tsx
Due: type-check, lint

assign tag + refactor explorer store
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/index.html
  core/src/api/tags.rs
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
  packages/interface/src/components/file/FileList.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/layout/TopBar.tsx
  packages/interface/src/screens/Explorer.tsx
  packages/interface/src/style.scss
  packages/ui/src/ContextMenu.tsx
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

assign/unassign tags from context menu
  apps/mobile/src/types/bindings.ts
  core/index.ts
  core/src/api/tags.rs
  packages/client/src/stores/useExplorerStore.ts
  packages/interface/package.json
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/Inspector.tsx
  packages/interface/src/components/primitive/Checkbox.tsx
  packages/ui/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/style/tailwind.js
  pnpm-lock.yaml
Due: type-check, lint, rust-fmt

fix lint
  core/src/api/tags.rs
  packages/ui/src/ContextMenu.tsx
Due: type-check, lint, rust-fmt

keep context menu open on tag change
  packages/interface/src/components/file/Explorer.tsx
  packages/interface/src/components/file/FileItem.tsx
Due: type-check, lint

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  markdown-link-check: any of: *.md
  rust-fmt: any of: *.rs
