Repository spacedriveapp/spacedrive: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, markdown-link-check, rust-fmt

lefthook.yml:

########################################################################################################################
#   Refer for explanation to following link:                                                                           #
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md                                            #
########################################################################################################################

pre-push:
  parallel: true
  commands:
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: pnpm markdown-link-check {staged_files}
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt --all -- --check
    rust-lint-tauri:
      run: cargo clippy --package spacedrive -- -D warnings
    rust-lint-core:
      run: cargo clippy --package sdcore --lib -- -D warnings
    rust-lint-core-derive:
      run: cargo clippy --package core-derive --lib -- -D warnings
    rust-lint-server:
      run: cargo clippy --package server -- -D warnings

WIP: windows attempt 2
  crates/ffmpeg/Cargo.toml
Due: none

ignore will probably squash
  crates/ffmpeg/Cargo.toml
Due: none

remove linking feature
  crates/ffmpeg/Cargo.toml
Due: none

test resource inclusion
  apps/desktop/src-tauri/tauri.conf.json
Due: none

removed overflow previously added
  apps/landing/src/pages/index.page.tsx
Due: type-check, lint

Added overflow-hidden to main
  apps/landing/src/renderer/_default.page.server.tsx
Due: type-check, lint

[ENG-250] Crypto Library (#400)
  Cargo.lock
  crates/crypto/Cargo.toml
  crates/crypto/src/error.rs
  crates/crypto/src/header/container.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/keys/mod.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/mod.rs
  crates/crypto/src/objects/stream.rs
  crates/crypto/src/primitives.rs
  crates/crypto/src/protected.rs
Due: rust-fmt

set VCPKG_ROOT in windows setup
  .github/scripts/setup-system.ps1
Due: none

More small fixes
  Cargo.lock
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/containers/modals/ImportModal.tsx
  apps/mobile/src/screens/onboarding/CreateLibrary.tsx
  core/src/location/mod.rs
Due: type-check, lint, rust-fmt

Fix spelling mistake
  docs/product/getting-started/introduction.md
Due: markdown-link-check

Fixed careers apply email
  apps/landing/src/pages/careers.page.tsx
Due: type-check, lint

(hotfix) p2p preventing compile
  Cargo.lock
  Cargo.toml
  apps/mobile/src/types/bindings.ts
  crates/crypto/src/header/file.rs
  crates/p2p/examples/basic.rs
  docs/product/getting-started/introduction.md
  packages/client/src/core.ts
Due: type-check, lint, markdown-link-check, rust-fmt

ui/ux: fix z index issue on NewBanner
  apps/landing/src/components/NewBanner.tsx
Due: type-check, lint

test windows build script 🤞
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/lib/.gitignore
  apps/desktop/src-tauri/tauri.conf.json
Due: rust-fmt

add experimental preview media support
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

clippy+formatting
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/metadata.rs
  crates/crypto/src/header/mod.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

add support for mk/pvm nonces
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

fix cursor positioning+size deserialization bug
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

clippy+formatting
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

don't export bindings on mobile devices
  apps/mobile/rust/src/android.rs
  core/src/api/mod.rs
Due: rust-fmt

cleanup code and add `decrypt_preview_media()`
  crates/crypto/src/error.rs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

update comment
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

remove `Mode` from `Keyslot`
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

use little-endian `usize` for media length
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

remove memory objects
  crates/crypto/src/objects/memory.rs
  crates/crypto/src/objects/mod.rs
Due: rust-fmt

remove mode enum
  crates/crypto/src/primitives.rs
Due: rust-fmt

add `.zeroize()` to `Protected<>`
  crates/crypto/src/protected.rs
Due: rust-fmt

remove `Mode` ser/de
  crates/crypto/src/header/serialization.rs
Due: rust-fmt

refactor, remove `Mode`, add helper functions
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/objects/stream.rs
Due: rust-fmt

formatting
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt

remove unused error
  crates/crypto/src/error.rs
Due: rust-fmt

update comments/docs
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/header/serialization.rs
Due: rust-fmt

comments, fix large files, insane performance
  crates/crypto/Cargo.toml
  crates/crypto/src/keys/hashing.rs
  crates/crypto/src/objects/stream.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

refine win setup
  .github/scripts/setup-system.ps1
Due: none

use crossplatform lib dir
  apps/desktop/src-tauri/lib/.gitignore
  apps/desktop/src-tauri/tauri.conf.json
Due: none

doc updates and fix decrypt zeroize
  crates/crypto/src/header/file.rs
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
  crates/crypto/src/objects/stream.rs
  crates/crypto/src/primitives.rs
Due: rust-fmt

revert to 1048576 byte `BLOCK_SIZE`
  crates/crypto/src/primitives.rs
Due: rust-fmt

`Keyslot` and `PreviewMedia` constructors now handle encryption
  crates/crypto/src/header/keyslot.rs
  crates/crypto/src/header/preview_media.rs
Due: rust-fmt
